@import '../../styles/main';


.dashboard {
    padding: 0em 2em;
    width: 100vw;
    &Header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2em 0em;
        border-bottom: .18rem solid $color-black-300;

        &_title{
            display: flex;
            align-items: center;

            header{
                font-size: 2.5rem;
                font-weight: 500;
            }
            &__img {
                height: 4rem;
                width: 4rem;
                margin-right: .5rem;
                display: flex;
                align-items: center;
                svg {
                    fill: $color-light-grey-300;
                    width: 3rem;
                    height: 3em;
                   
                }
            }
        }
    }
}


.tableHeader {
    background: $color-dark-grey-200;
    padding: 1em .5em;
    display: flex;
    align-items: center;

    &_left{
        display: flex;
        align-items: center;

        &Btn{
            border: none;
            padding: .5em 1em;
            margin-right: 1rem;
            background: transparent;
            color: $color-white;
            border-radius: 100px;
            transition: all .2s ease-in;
            cursor: pointer;
            &:hover{
                background: $color-white;
                color: $color-black;
            }

            &__active {
                background: $color-white;
                color: $color-black;
            }
        }
    }
}

