$color-white: #FFFFFF;
$color-sky-blue: #EDF5FF;
$color-black: #000;
$color-black-300: #333333;
$color-black-100: #404040;
$color-black-200: #3A3A3A;
$color-light-grey-200: #D2D2D2;
$color-light-grey-100: #F2F2F2;
$color-light-grey-300: #AAAAAA;
$color-dark-grey-200: #7D869A;
$color-dark-grey-100: #F2F4F7;
$color-light-green: #EDFFED;
$color-black-400: #444444;
