@import '../../styles/main.scss';

.spinner {
  &_spin {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid red;
    width: 200px;
    height: 200px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
}

@keyframes dotSpin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes dotSpin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.spinner {
    border: .7rem solid #f3f3f3;
    border-radius: 50%;
    border-top: .7rem solid rgba(255, 255, 255, 0.2);
    border-right: .7rem solid #fff;
    border-bottom: .7rem solid #fff;
    border-left: .7rem solid #fff;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    transition: all 2s ease-in;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


  


  // dotFlashing


  .dotFlashing {
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #D2D2D2;
    color: #D2D2D2;
    animation: dotFlashing 1s infinite linear alternate;
    animation-delay: .5s;
  }
  
  .dotFlashing::before, .dotFlashing::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
  }
  
  .dotFlashing::before {
    left: -25px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #D2D2D2;
    color: #D2D2D2;
    animation: dotFlashing 1s infinite alternate;
    animation-delay: 0s;
  }
  
  .dotFlashing::after {
    left: 25px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #D2D2D2;
    color: #D2D2D2;
    animation: dotFlashing 1s infinite alternate;
    animation-delay: 1s;
  }
  
  @keyframes dotFlashing {
    0% {
      background-color: #D2D2D2;
    }
    50%,
    100% {
      background-color: #f7f4f4;
    }
  }
  
