@import '../../styles/main.scss';


.userDetails {
    background: $color-sky-blue;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;


    &_item{
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        color: $color-black-300;
        font-weight: 300;
        svg {
            fill: #B4C9DB;
            height: 2rem;
            width: 2rem;
            margin-right: 1.5rem;
        }

        div {
            color: #B4C9DB;
            font-size: 2rem;
            margin-right: 1.5rem;
        }
    }
}