@import '../../styles/main.scss';

.tableWrapper {
  overflow: auto;
  max-width: 100%;
}



th {
  background-color: $color-white;
  color: $color-black-400;
  white-space: nowrap;
  padding: .5em .5em;
  font-weight: 400;
  font-size: 1rem;
  text-align: left;
  text-transform: uppercase;
}



.tableContent {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

  tr {
    border-bottom: 1px solid #a3a4a6;
  
    &:nth-child(even) {
      background: $color-dark-grey-100;
      
    }
  }


  &_header { 
  
    tr {
    border-bottom: 1px solid #D8D8D8;
   
  }
}
  tbody {
    font-size: 1.3rem;
    color: $color-black-300;

    tr td{
      padding: .7em .5em;
      line-height: 2.3rem;
    }
    & .lastCell {
     display: flex;
     justify-content: space-between;
     align-items: center; 
    }
  }
}


.tableLoader{
  background: #FAFAFA;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 20rem;
}