@import '../../styles/main.scss';

.tableWrapper {
  overflow: auto;
  max-width: 100%;
  background: linear-gradient(to right, white 30%, rgba(255, 255, 255, 0)),
    linear-gradient(to right, rgba(255, 255, 255, 0), white 70%) 0 100%,
    radial-gradient(
      farthest-side at 0% 50%,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
        farthest-side at 100% 50%,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0)
      )
      0 100%;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 40px 100%, 40px 100%, 14px 100%, 14px 100%;
  background-position: 0 0, 100%, 0 0, 100%;
  background-attachment: local, local, scroll, scroll;
}



th {
  background-color: $color-white;
  color: $color-black-400;
  white-space: nowrap;
  padding: .5em .5em;
  font-weight: 400;
  font-size: 1rem;
  text-align: left;
}



.tableContent {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

  tr {

    border-bottom: 1px solid #a3a4a6;
  
    &:nth-child(even) {
      background-color: $color-dark-grey-100;
    }
  }


  &_header { 
  
    tr {
    border-bottom: 1px solid #D8D8D8;
   
  }
}
  tbody {
    font-size: 1.3rem;
    color: $color-black-300;

    tr td{
      padding: .7em .5em;
      line-height: 2.3rem;
    }
  }
}
